.recipe_image{
    width:200px;
    height:200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.recipe{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    background-color: #495492;
}

div{
    background-color: #495492;
}

a{
    background-color: #495492;
}

.tuna_style{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center; 
    gap: 650px;
    background-color: #495492;
}

.tuna_left, .tuna_right{
    height:400px;
    width: 400px;
    margin-bottom: 20px;
    background-color: #495492;
}

.tuna_left{
   margin-left: auto;
}

.tuna_right{
    margin-right:auto;
}
