.recipe_image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width:400px;
    height:400px;
}

div{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 250px;
    margin-left: 250px;
    background-color:#495492;
}

div p{
    background-color:#495492;
}

div ul{
    background-color:#495492;
}

div ol{
    background-color:#495492;
}

div li{
    background-color:#495492;
}

h2{
    font-size: 50px;
    background-color:#495492;
}

h3{
    font-size: 30px;
    background-color:#495492;
}